{% extends 'base.html.twig' %}

{% block body %}
    <h1>Etablissement</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etablissement.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ etablissement.libelle }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ etablissement.nom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ etablissement.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ etablissement.email }}</td>
            </tr>
            <tr>
                <th>Responsable</th>
                <td>{{ etablissement.responsable }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ etablissement.numero }}</td>
            </tr>
            <tr>
                <th>Rue</th>
                <td>{{ etablissement.rue }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ etablissement.ville }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('etablissement_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('etablissement_edit', { 'id': etablissement.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
