{% extends 'base.html.twig' %}

{% block body %}
    <h1>Examinateur</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ examinateur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ examinateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ examinateur.prenom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ examinateur.telephone }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('examinateur_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('examinateur_edit', { 'id': examinateur.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
