{% extends '::layout.html.twig' %}

{% block body %}

<div class="container" id="choixEtablissement">
<div style="display:flex">
<h1 style="float: left"> Souhaits de la destination </h1>
</div>

{{ form_start(form) }}

    <div>
        {{ form_row(form.Choix1) }}
        {{ form_row(form.Choix2) }}

 
        {{ form_row(form.Choix3) }}

    </div>

    <div>
        {{ form_row(form.cocherterrelangue) }}
        {{ form_row(form.commentaire) }}
        {{ form_row(form.cochervisaparent) }}
    </div>

    {{ form_row(form.submit) }}

 
{{ form_end(form) }}
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
  
