{% extends '::layout.html.twig' %}


{% block body %}
{{ form_start(form) }}

<div>
    <h2>Ajouter un élève</h2>
    {{ form_row(form.eleNom) }}
    {{ form_row(form.elePrenom) }}
    {{ form_row(form.eleSexe) }}
    {{ form_row(form.eleDateNaissance) }}
    {{ form_row(form.promo) }}
    {{ form_row(form.eleEmail) }}
    {{ form_row(form.eleEmailParent) }}
    {{ form_row(form.eleMdp) }}
    {{ form_row(form.classe) }}
    {{ form_row(form.utilisateur) }}
</div>
{{ form_row(form.save) }}
{{ form_end(form) }}

<br/>
<a href ="{{path('eleves')}}" style="padding: 3px;" class="btn btn-secondary">Retour à la liste des élèves</a>
{% endblock %}
