{% extends '::layout.html.twig' %}

{% block body %}
    <div class ="row">
        <div class ="col-lg-6">
            <h1>Elèves</h1>   
        </div>
        <div class="col-lg-6">    
            <form action="{{ path('filtre_eleve') }}" method="post">
                <div class="row">
                        <p>Nom / Prénom : <input type="text" name="nom_prenom"></p> <input style="height:30px;" type="submit" value="Chercher"/>
                </div>
            </form>
        </div>
    </div>
    <ul style="list-style:none;">
    {% for item in paginator.currentPageResults %}
        <div class="row" style="padding:4px;">
            <div class="col-lg-6 text-center"><li>{{ item.nom }} {{item.prenom}} - {{item.classe.libelle}}</li></div>
            <div class="col-lg-6">
                <a href ="{{path('affiche_eleve', { 'id_eleve': item.id})}}" style="padding: 3px;" class="btn btn-secondary">Consulter</a>
                <a href ="{{path('affectation_eleve', {'id_eleve': item.id})}}" style="padding: 3px;" class="btn btn-info">Affecter</a>
                <a href ="{{path('edit_eleve', { 'id_eleve': item.id})}}" style="padding: 3px;" class="btn btn-primary">Modifier</a>
                <a href ="{{path('delete_eleve', { 'id_eleve': item.id})}}" style="padding: 3px;" class="btn btn-danger confirmModalLink">Supprimer</a>
            </div>
        </div>
    {% endfor %} 
    </ul>
    <div style="display:inline-block;">
        {{pagerfanta(paginator, 'twitter_bootstrap4')}}
        <a href ="{{path('create_eleve')}}" style="padding: 3px;" class="btn btn-secondary">Ajouter un élève</a>
    </div>
    <!-- {% for eleve in eleves %}
        <div class="row">
            <div class="col-lg-6">
                <p class="text-justify" style="font-weight: bold;">{{eleve.nom}} {{eleve.prenom}} - {{eleve.classe.libelle}}</p>
            </div>
            <div class="col-lg-6">
                <button style="padding: 3px;" class="btn btn-secondary">Consulter</button>
                <button style="padding: 3px;" class="btn btn-primary">Modifier</button>
                <button style="padding: 3px;" class="btn btn-danger">Supprimer</button>
            </div>
        </div>
    {% endfor %} -->
{% endblock %}
