{% extends '::layout.html.twig' %}

{% block body %}
    <div class ="row">
        <div class ="col-lg-6">
            <h1>Eleves</h1>   
        </div>
        <div class="col-lg-6">     
            <form action="{{ path('filtre_eleve') }}" method="post">
                <div class="row">
                        <p>Nom / Prénom : <input type="text" name="nom_prenom"></p> <input style="height:30px;" type="submit" value="Chercher"/>
                </div>
            </form>
        </div>
    </div>
    {% if paginator.currentPageResults == null %}
    <p>Aucun élève n'est nommé ainsi </p>
    {% else %}
    <ul style="list-style:none;">
    {% for item in paginator.currentPageResults %}
        <div class="row" style="padding:4px;">
            <div class="col-lg-6 text-center"><li>{{ item.ele_nom }} {{item.ele_prenom}}</li></div>
            <div class="col-lg-6">
                <a href ="{{path('affiche_eleve', {'id_eleve': item.id})}}" style="padding: 3px;" class="btn btn-secondary">Consulter</a>
                <a href ="{{path('affectation_eleve', {'id_eleve': item.id})}}" style="padding: 3px;" class="btn">Affecter</a>
                <a href ="{{path('edit_eleve', { 'id_eleve': item.id})}}" style="padding: 3px;" class="btn btn-primary">Modifier</a>
                <a href ="{{path('delete_eleve', { 'id_eleve': item.id})}}" style="padding: 3px;" class="btn btn-danger confirmModalLink">Supprimer</a>
            </div>
        </div>
    {% endfor %} 
    </ul>
    <div style="margin: 0 auto; float:none;">
        {{pagerfanta(paginator, 'twitter_bootstrap4')}}
    </div>
    {% endif %}
    <a href ="{{path('eleves')}}" style="padding: 3px;" class="btn btn-secondary">Retour à la liste des élèves</a>
{% endblock %}
