{% extends '::layout.html.twig' %}

{% block body %}

<div class="content-base">

    <div class="div-retour">
        <a href="{{ path('listeeleves') }}"><i class="fas fa-arrow-circle-left"></i></a>
    </div>
    <p>Nom : {{eleve.nom}} </p>
    <p>Prenom : {{eleve.prenom}}</p>
    <p>Sexe : {% if eleve.sexe == "f" %}Femme{% else %}Homme{% endif %}</p>
    <p>Date de naissance : {{eleve.dateNaissance.date}}</p>
    <p>E-mail : {{eleve.email}}</p><p>E-mail parent : {{eleve.emailParent}}</p>
    <p>Classe actuelle : {{eleve.classe.libelle}}</p>
    <p>Promo d'entrée : {{eleve.promotion.annee}}</p>
    <p>Cursus élève : {% if eleve.type == 1 %}Ucape{% else %}Section{% endif %}</p>

    <a href ="{{path('editioneleve', { 'id_eleve': eleve.id})}}" style="padding: 3px;" class="btn btn-primary">Modifier les informations</a>

</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}