{% extends '::layout.html.twig' %}

{% block body %}

    <div class="content-base">


        <div class="div-retour">
            <a href="{{ path('promotion') }}"><i class="fas fa-arrow-circle-left"></i></a>
        </div>



        {% for message in app.flashes('Info') %}
            <div class="flash-info flash-info-choix
            {% if erreur == true %}
            alert-danger
{% endif %} alert-success
">
                {{ message }}
            </div>
        {% endfor %}

        {{ form_start(form) }}



        {{ form_row(form.libelle) }}

        {{ form_row(form.theme) }}
        {{ form_row(form.chemin) }}

        {{ form_row(form.annee) }}

        {{ form_row(form.submit, {'attr': {'onclick': 'return confirm("Êtes-vous sûr ?")'}})}}

        <div class="form-group">

            <input type="reset" class="btn-annule btn btn-default" class="form-control" name="annuler" value="Annuler">

        </div>


        {{ form_end(form) }}





    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
