{%  extends "layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<style>

    #content{border-radius: 15px;font-weight: 600}

</style>

<form class="form-signin"  style=" text-align: center" action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <label for="username">{{ 'security.login.username'|trans }} :</label>
    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" placeholder="{{ 'security.login.username'|trans }}" />

    <br/>

    <label for="password">{{ 'security.login.password'|trans }} :</label>
    <input placeholder="{{ 'security.login.password'|trans }}" class="form-control" type="password" id="password" name="_password" required="required" autocomplete="current-password" />

    <br/>

    <input class="form-check-label" type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

    <br/>

    <input  type="submit" class="btn btn-primary btn-lg btn-block btn-valider" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />


    <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié</a>

</form>

{% if error %}

<br/>
<div class="alert alert-danger" style="font-weight: bold" role="alert" >{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

{% endblock fos_user_content %}