{% extends '::layout.html.twig' %}

{% block body %}
<div id="panel-content">
    <div class="tab-content">
        <div class="tab-pane fade active in" id="accueilpanel" role="tabpanel" aria-labelledby="nav-contact-tab">
            <h1>Modification du pays</h1>

            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input type="submit" value="Edit" />
            {{ form_end(edit_form) }}

            <button>
                <a href="{{ path('pays_index') }}">Retour a la liste</a>
            </button>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supression">
            {{ form_end(delete_form) }}
        </div>
    </div>
</div>
{% endblock %}
