{% extends '::layout.html.twig' %}


{% block body %}
{{ form_start(form) }}

<div >
    <h2> information globales </h2>
    {{ form_row(form.eleNom) }}
    {{ form_row(form.elePrenom) }}
    {{ form_row(form.eleSexe) }}
    {{ form_row(form.eleDateNaissance) }}
    {{ form_row(form.elePromo) }}
    {{ form_row(form.eleEmail) }}
    {{ form_row(form.eleEmailParent) }}
    {{ form_row(form.eleMdp) }}
</div>
<br>
{{ form_row(form.eleCommentaireGeneral) }}
{{ form_row(form.eleTerreDesLangues) }}
{{ form_row(form.eleCommentaireChoix) }}
{{ form_row(form.eleVisaParent) }}
{{ form_row(form.eleUE2Date) }}
{{ form_row(form.eleUE2Note) }}
{{ form_row(form.eleUE2Appreciation) }}
{{ form_row(form.eleType) }}
{{ form_row(form.eleUE1Date) }}
{{ form_row(form.eleUE1Note) }}
{{ form_row(form.eleUE1Appreciation) }}
{{ form_row(form.eleObtentionDiplome) }}
{{ form_row(form.eleMention) }}
{{ form_row(form.eleCommentaire) }}
{{ form_row(form.save) }}
{{ form_end(form) }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
  